body{
	background-color: hsl(228, 11%, 9%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 15px;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
}
p{
	color: hsl(217, 12%, 63%);
}


.main-container {
	background-color: hsl(215, 22%, 15%);
	width: 345px;
	height: 345px;
	border-radius: 40px;
	padding: 35px;
	margin: 0;
}

.rating-button {
	border: none;
	background-color:  hsl(215, 18%, 19%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: hsl(217, 12%, 63%);
	cursor: pointer;
}

.rating-button:hover{
	color: white;
	background-color: hsl(217, 12%, 63%);
}

.rating-button:focus{
	color: white;
	
	background-color: hsl(25, 97%, 53%);
}

.rating-div{
	display: flex;
	justify-content: space-between;
}

.submit-button {
	border: none;
	width: 100%;
	background-color: hsl(25, 97%, 53%);
	border-radius: 50px;
	height: 45px;
	margin-top: 30px;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

.submit-button:hover {
	background-color: white;
	color: hsl(25, 97%, 53%);
}

.icon{
	background-color: hsl(215, 18%, 19%);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thank-you {
	text-align: center;
}

.selected {
	margin-top: 40px;
	background-color: hsl(215, 18%, 19%);
	color: hsl(25, 97%, 53%);
	border-radius: 10px;
	padding: 2px;
	width: 170px;
	display: inline-block;
}


.thankyouicon{
	margin-top: 10px;
	display: inline-block;
	margin: 0 5px;

}

